* {
    font-family: Roboto, sans-serif;
    color: #f9faf8;
}


h2 {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center; /* center items vertically and horizontally */

}
nav ul {
    display: flex;
    justify-content: space-between;
    width: 40%;  /* center list and take up 40% of the space */
}
nav ul li {
    list-style-type: none;
    font-size: 18px; 
    color: #e5e7eb; /* remove bullet points and adjust sizing and color */
}
.hero {
    font-size: 48px;
}
button {
    background-color: #3882f6;
    border-radius: 5px;
}
#section1 {
    background-color: #1f2937;
    width: 100%;
    height: 25%; /* sections take up 100% of width */
}
#section2 {
    background-color: #f9faf8;
    width: 100%;
    height: 25%;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center; /* center items */
    font: 18px #1f2937 Roboto;
}

.box {
    border: 3px solid #3882f6;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* display boxes in row */
    border-radius: 5px;
}

.box-cover {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    box-sizing: border-box; /* to allow elements to fit in the row */
    font-size: 18px;
    color: #1f2937;
}

.section3box {
    background-color: #3882f6;
    color: white;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 25vh;
    border-radius: 5px; 
}

.box-cover p {
    font-size: 18px;
    color: #1f2937;
}

#section2 h1, #section2 p {
    color: #1f2937;
    display: block;
    margin: 10px auto;
}

.divforboxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

header {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.headerdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer {
    width: 100%;
    height: 30%;
    display: flex;
    text-align: center;
    background-color: #1f2937;
    font-size: 18px;
    color: #f9faf8;
    justify-content: space-around;
}